*~
/# Added by svn-ignore on 2017-10-30
/*.mod
/.makef95.prefix
/Makefile
/Makefile.bak
/bidirectional_mass_thresholds
/coupling
/determine_accuracies
/intrinsic_charm
/lumi_tests
/msbar_tests
/split_mat_ops
/streamlined_multisplit
/timelike_NLOevol_tests
/timelike_tests
coupling-fixed
test_qed
test_qed_lepton_evol
test_qed_obj
