HOPPET-v1-doc.aux
HOPPET-v1-doc.log
HOPPET-v1-doc.ps
HOPPET-v1-doc.dvi
HOPPET-v1-doc.toc
HOPPET-v1-doc.out

HOPPET-v1-doc.fdb_latexmk
HOPPET-v1-doc.fls

# Added by svn-ignore on 2017-10-30
HOPPET-v1-doc.pdf
HOPPET-v1-doc.synctex.gz

# Added by svn-ignore on 2017-10-30
HOPPET-v1-doc.pdf

