/# Added by svn-ignore on 2017-10-30
/HOPPET-v1-doc.aux
/HOPPET-v1-doc.dvi
/HOPPET-v1-doc.fdb_latexmk
/HOPPET-v1-doc.fls
/HOPPET-v1-doc.log
/HOPPET-v1-doc.out
/HOPPET-v1-doc.pdf
/HOPPET-v1-doc.ps
/HOPPET-v1-doc.synctex.gz
/HOPPET-v1-doc.toc
HOPPET-doc.aux
HOPPET-doc.bbl
HOPPET-doc.blg
HOPPET-doc.dvi
HOPPET-doc.fdb_latexmk
HOPPET-doc.fls
HOPPET-doc.idx
HOPPET-doc.ilg
HOPPET-doc.ind
HOPPET-doc.log
HOPPET-doc.out
HOPPET-doc.pdf
HOPPET-doc.synctex.gz
HOPPET-doc.tex~
HOPPET-doc.toc
HOPPET-doc.xdv
HOPPET-v2.0-release.aux
HOPPET-v2.0-release.bbl
HOPPET-v2.0-release.blg
HOPPET-v2.0-release.dvi
HOPPET-v2.0-release.fdb_latexmk
HOPPET-v2.0-release.fls
HOPPET-v2.0-release.idx
HOPPET-v2.0-release.ilg
HOPPET-v2.0-release.ind
HOPPET-v2.0-release.log
HOPPET-v2.0-release.out
HOPPET-v2.0-release.pdf
HOPPET-v2.0-release.spl
HOPPET-v2.0-release.synctex.gz
HOPPET-v2.0-release.tex~
HOPPET-v2.0-release.toc
HOPPET-v2.0-release.xdv
