name: CI
# adapted from 
# https://github.com/jacobwilliams/json-fortran/blob/master/.github/workflows/CI.yml

on: [push, pull_request]

jobs:

  Build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        #gcc_v: [10] # Version of GFortran we want to use.
        #gcc_v: [7,8,9,10] # Version of GFortran we want to use.
        gcc_v: [10,13] # Version of GFortran we want to use.
        #python-version: [3.9]
    env:
      FC: gfortran-${{matrix.gcc_v}}
      GCC_V: ${{matrix.gcc_v}}

    steps:

    - name: Set vars
      id: vars
      #run: echo ::set-output name=tag::${GITHUB_REF#refs/*/}
      run: echo "tag::${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT

    - name: Checkout code
      uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Install GFortran Linux
      if: contains( matrix.os, 'ubuntu')
      run: |
        sudo add-apt-repository ppa:ubuntu-toolchain-r/test
        sudo apt-get update
        sudo apt-get install -y gcc-${GCC_V} gfortran-${GCC_V}
        sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-${GCC_V} 100 \
        --slave /usr/bin/gfortran gfortran /usr/bin/gfortran-${GCC_V} \
        --slave /usr/bin/gcov gcov /usr/bin/gcov-${GCC_V}        

    - name: configure_build_check
      if: contains( matrix.os, 'ubuntu')
      run: |
        #FC=gfortran-${{matrix.gcc_v}}
        #GCOV=gcov-${{matrix.gcc_v}}
        # build and run unit tests
        gfortran-${{matrix.gcc_v}} --version
        ./configure FC=gfortran-${{matrix.gcc_v}}
        make -j4 check
        # then make sure we can build also with the exact coefficient functions
        make clean
        ./configure FC=gfortran-${{matrix.gcc_v}} --enable-exact-coefs
        make -j4 check


