name: Build and deploy Sphinx docs to GitHub Pages

on:
  push:
    branches:
      - dev    # change to your default branch if different
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:

  build-and-deploy:
    runs-on: ubuntu-latest
    container:
      image: fedora:latest
    steps:
      - name: Install Git
        run: dnf -y install git    
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: recursive
      - name: Install 
        run: |
             yum -y install  gcc gcc-c++ gcc-gfortran make wget which cmake cmake-data cmake-filesystem lhapdf lhapdf-devel
             yum -y install swig python3-devel python3-numpy
             yum -y install valgrind
      - name: Compile
        run: |
            cmake -S . -B BUILD  -DHOPPET_ENABLE_FPES=ON -DCMAKE_BUILD_TYPE=RelWithDebInfo -DHOPPET_USE_EXACT_COEF=ON -DHOPPET_BUILD_PYINTERFACE=ON
            cmake --build BUILD -j
            cmake --install BUILD
            ctest --test-dir BUILD -j 2 --output-on-failure
  
            # now try running some python examples, checking the output matches the expected output
            scripts/check python3 example_py/tabulation_example.py
            scripts/check python3 example_py/tabulation_example_qed.py
            scripts/check python3 example_py/structure_functions_example.py

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r docs/python-auto/requirements.txt

      - name: Build Sphinx HTML
        run: |
          sphinx-build -b html docs/python-auto/source docs/python-auto/_build/html
          # or use: make -C docs html

      - name: Upload artifact (optional, for debugging)
        uses: actions/upload-artifact@v4
        with:
          name: sphinx-html
          path: docs/python-auto/_build/html

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GH_PAGES_PAT }}
          publish_branch: gh-pages
          publish_dir: ./docs/python-auto/_build/html
          # you can set commit_name, commit_email if desired
